* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #1a1a2e; 
    color: #e0e0e0; 
     width: 1400px;
    margin: 0 auto;

    
    background-image: url('computer.png'); 
   
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 


    z-index: 1; 
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1; 
}

.btn{
    border: none;
    width: 220px;
    height: 60px;
    border-radius: 10px;
    background-color: #525e75;
    opacity: 80%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.btn:hover{
    transform: scale(1.01);
    cursor: pointer;
    background-color: #49b858;
}

.main{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    border: none;
    margin: 0 auto;
    flex-direction: column;
}
.btns{
    width: 900px;
    display: flex;
    
    justify-content: space-evenly;
    margin: 0 auto;
    border: none;
    align-items: center;
    height: 240px;
}

.file-item { display: flex; 
    flex-direction: column;
    justify-content: space-between;
     align-items: center;
      padding: 8px;
       border-bottom: 1px solid #eee; 
    }
.file-item:hover { }
.file-title { flex-grow: 1; cursor: pointer; }
.file-description {
position: absolute;
background-color: #333;
color: white;
padding: 5px 10px;
border-radius: 4px;
visibility: hidden;
opacity: 0;
transition: opacity 0.2s;
z-index: 10;
}
.file-title:hover + .file-description {
visibility: visible;
opacity: 1;
}
.file-actions button { margin-left: 10px; padding: 5px 10px; cursor: pointer; }
#file-list-container {
     margin-top: 20px;
     border: none; 
    padding: 10px; 
    
}
input, textarea, button { margin-bottom: 10px; padding: 8px; width: 100%; box-sizing: border-box; }
.upload-section { padding: 20px;  }
td{
    height: 60px;
    width: 180px;
    text-align: center;
}